html {
  color: crimson;
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #b3b3b3;
}

head {

}

body {
  width: ;
  margin:  0 auto;
  background-color: #990000;
  padding:  0 20px 20px 20px;
  border:  5px solid black;
}

h1 {
  margin: 0;
  padding:  20px 0;
  color:  #00539F;
  text-shadow: 3px 3px 1px black;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #000000;
  color: darkred;
  font-size: 30px;
}
.menu{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 20px;
    color: #A2A4A3;
  }

/* Top Menu */

/*Top Menu Background Colors*/
.top_men {
  overflow: hidden;
}

/* Top Menu style the links inside the Menu bar */
.top_men a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Top Menu change the color of links on hover */
.top_men a:hover {
  background-color: ghostwhite;
  color: black;
}

/* Add a color to the active/current link */
.top_men a.current {
  background-color: black;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#menu {

}